{% extends 'base.html' %}

{% block left %}
    
    <form id="loginForm" method="POST" action="{% url login %}">{% csrf_token %}
        <p>
            <label> Username </label>
            <input type="text" name="username" id="username" placeholder="username">
        </p>
        <p>
            <label> Password </label>
            <input type="password" name="password" id="password" placeholder="**********">
        </p>
        <input type="submit" value="Login" id="loginBtn">
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}
